# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/
.venv/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Ignore environment variables
.env
*.env

# VSCode / PyCharm
.vscode/
.idea/

# Node (if frontend is added later)
node_modules/
venv/
Ines.Kibe/
